.episode-contents-container {
    padding: 20px;
    padding-top: 80px;
    font-family: Montserrat, sans-serif;
}

.episode-contents {
    margin: auto; /* Centrer horizontalement */
    padding: 20px; /* Ajoute une marge intérieure de 20px */
    background-color: rgba(0, 0, 0, 0.45);
    max-width: 800px; /* Limite la largeur totale */
    border-radius: 5px; /* Ajoute des coins arrondis */
}

.oeuvre-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
    width: fit-content; /* Prend toute la largeur disponible */
    transition: color 0.1s ease;
}
.oeuvre-title:hover {
    cursor: pointer; /* Change le curseur au survol */
    color: rgb(81, 109, 133);
}

.season-episode-texts {
    display: flex; /* Place les éléments côte à côte */
    align-items: center; /* Aligne verticalement les éléments */
    gap: 5px; /* Ajoute un espace entre .season et .episode */
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /* Ajoute un espace au-dessus de la saison et de l'épisode */
    margin-bottom: 30px; /* Ajoute un espace en dessous de la saison et de l'épisode */
    user-select: none;
    pointer-events: none; 
}
.season-text {
    color: rgb(121, 121, 121)
}
.episode-text {
    color: rgb(209, 209, 209);
}

.video-player {
    position: relative;
    width: 100%; /* La vidéo occupe toute la largeur disponible dans .contents */
    padding-top: calc(56.25% - 6px); /* Ratio 16:9 pour la vidéo */
    margin: 0; /* Supprime les marges */
    border: 3px solid rgb(50, 69, 116); /* Bordure de 2px de couleur rgb(50, 69, 116) */
    
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Supprime la bordure de l'iframe */
}

.prev-next-btn-container {
    margin: auto; /* Centrer horizontalement */
    padding: 20px; /* Ajoute une marge intérieure de 20px */
    background-color: rgba(0, 0, 0, 0.45);
    max-width: 800px; /* Limite la largeur totale */
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: flex; /* Active Flexbox pour aligner les éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    gap: 20px; /* Ajoute un espace de 20px entre les éléments */
    margin-top: 10px; /* Ajoute un espace au-dessus */
    padding-top: 10px;
    padding-bottom: 10px;
}

.prev-next-btn,
#episodes-select {
    background-color: rgb(50, 69, 116);
    color: white;
    border: none;
    height: 40px; /* Hauteur fixe */
    width: 150px; /* Largeur fixe */
    border-radius: 5px; /* Ajoute des coins arrondis */
    cursor: pointer; /* Change le curseur au survol */
    font-size: 12px; /* Taille de la police */
    font-weight: bold; /* Met le texte en gras */
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement le texte */
    justify-content: center; /* Centre horizontalement le texte */
    text-align: center; /* Centre le texte si plusieurs lignes */
    padding-bottom: 2px;
    outline: none;
    user-select: none; /* Empêche la sélection du texte */
}

.prev-next-btn:hover {
    background-color: rgb(84, 103, 150); /* Change la couleur au survol */
}

.prev-next-btn.disabled {
    background-color: rgb(100, 100, 100); /* Couleur grisée */
    cursor: not-allowed; /* Change le curseur pour indiquer que le bouton est désactivé */
    pointer-events: none; /* Désactive les clics */
    opacity: 0.6; /* Réduit l'opacité pour indiquer qu'il est désactivé */
}

#episodes-select {
    background-color: rgb(46, 54, 71);
    transition: color 0.1s ease;
}
#episodes-select:hover {
    background-color: rgb(63, 74, 97);
}