.oeuvre-contents {
    margin: 0 auto; /* Centrer horizontalement */
    padding: 20px; /* Ajoute une marge intérieure de 20px */
    background-color: rgba(0, 0, 0, 0.45);
    max-width: 800px; /* Limite la largeur totale */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    border-radius: 5px; /* Ajoute des coins arrondis */
}

.oeuvre-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
    pointer-events: none; 
    margin-bottom: 15px;
}

.list {
    display: flex; /* Place les cartes côte à côte */
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
    gap: 20px; /* Ajoute un espace de 20px entre les cartes */
    justify-content: left; /* Centre les cartes horizontalement */
    max-width: 800px; /* Limite la largeur totale */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    border: 5px; /* Ajoute des coins arrondis */
}

.card {
    width: 100px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 28, 46);
    border-radius: 5px; /* Ajoute des coins arrondis */
    margin: 0; /* Supprime les marges inutiles */
    flex-shrink: 0; /* Empêche les cartes de rétrécir */
    border: 2px solid rgb(29, 73, 114); /* Bordure de 5px */
}

.card:hover {
    background-color: rgb(29, 73, 114);
    cursor: pointer;
}

.card.active {
    background-color: rgb(29, 73, 114); /* Couleur différente pour le bouton sélectionné */
    color: white;
    cursor: default; /* Indique que le bouton est "locké" */
    pointer-events: none; /* Désactive les clics sur le bouton sélectionné */
}

.text {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: bold;
    text-align: center; /* Centre le texte dans la carte */
    user-select: none;
    pointer-events: none; 
}

.seperator {
    border: 1px solid rgb(29, 73, 114);
}